a {
    text-decoration: none;
    color: black;
}

.Article01 {
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.Article01_Container {
    width: 60%;
    margin: 0 auto;
}

.Article01_Icon { 
    display: flex;
    justify-content: space-around;
    padding: 52px 0;
    
}

.Icon_Img {
    background-color: #f7f7f7;
    border-radius: 50%;
    border: 2px solid transparent;
}

.Icon_Box span {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.Icon_Box:hover .Icon_Img{
    background-color: #fff;
    border: 2px solid #000;
    transition: all ease-in-out 0.3s;
}

/* 반응형 웹 */

@media (max-width: 1440px) {
    .Article01_Container {
        width: 100%;
        margin: none;
    }
}

@media (max-width: 860px) {
    .Article01_Icon { 
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .Icon_li {
        border: 1px solid transparent;
        width: 33%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .Icon_Img {
        width: 140px;
        height: 130px;
    }

}