.header_container{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.4rem;
    z-index: 999;
}

.scroll_zero{
    background-color: transparent;
}
.scroll_not_zero{
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #efefef;
}

.header_showarea{
    /* 크기 조정 */
    width: 80%; 
        
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header_contents{
    display: flex;
    cursor: pointer;
    height: 100px;
    align-items: center;
    /* gap: 25px; */
}
.header_contents li{
    width: 4rem;
    text-align: center;
    margin-top: -3px;
}
.header_contents li:nth-child(1){
    width: 4.5rem;
}
.header_contents li:nth-last-child(1){
    width: 3rem;
}
.header_contents li:hover{
    border-bottom: 1px solid black;
}

.opacity_show{
    opacity: 1;
    transition: all .4s ease-out;
}
.opacity_hide{
    opacity: 0;
}
.display_show{
    display: block;
}
.display_hide{
    display: none;
}

.header_login{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 1rem;
}
.header_login_logo{
    font-size: 1.5rem;
    margin: 0 auto;
}

.hide{
    display: none;
}
.show{
    display: block;
}

@media (max-width: 590px) {
    .header_showarea{
        width: 95%;
        font-size: 1.2rem;
    }
    .header_logo{
        margin-right: 10px;
    }
    .header_contents div{
        margin-top: 0px;
    }
}
@media (max-width: 493px) {
    .header_showarea{
        font-size: 1rem;
    }
}
@media (max-width: 400px) {
    .header_container{
        height: 80px;
    }
    .header_showarea{
        font-size: .7rem;
        height: 80px;
    }
    .header_contents div{
        width: 3rem;
    }
}