.map{
    width: 100%;
}
.map_container{
    /* width: 95%; */
    height: 800px;
    position: fixed;
    top: 155px;
    left: 50px;
    right: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.map_area{
    /* width: 1200px; */
    flex-grow: 3;
    height: 700px;
}

#map{
    width: 100%;
    height: 100%;
}

.location_info{
    flex-grow: 1;
    border-top: 1px solid #e4e0dd;
    /* border-bottom: 1px solid #e4e0dd; */
    overflow-y: auto;
    height: 700px;
}
.location_info::-webkit-scrollbar {
    width: .5rem;  /* 스크롤바의 너비 */
}
.location_info::-webkit-scrollbar-thumb {
    height: 20%; /* 스크롤바의 길이 */
    background: #111; /* 스크롤바의 색상 */
     
    border-radius: 10px;
}
.location_info::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.location_info_ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.location_info_li{
    height: 50px;
    line-height: 50px;
    border: 1px solid #e4e0dd;
    text-align: center;
    cursor: pointer;
}
.location_info_li:hover{
    background-color: #efefef;
}
.location_info_li.selected{
    background-color: #efefef;
}
.location_info_li:nth-child(1){
    margin-top: 20px
}

.custom_overlay{
    position: relative;
    bottom: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
}

@media screen and (max-width: 480px){
    .map_container{
        flex-direction: column;
    }
}